$messages: messages;
$messagesInput: messages__input;
$messagesInputText: messages__input-text;

.#{$messages} {

    &__input {
      display: flex;
    }

    &__input-text {
        height: 40px;
        padding: 8px 12px;
        font-size: 16px;
    }
}

:export {
    messagesInput: $messagesInput;
    messagesInputText: $messagesInputText;
}

