$chat: chat;
$chatHeader: chat__header;


.#{$chat} {
    width: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 25px auto;

    textarea { 
        width: calc(100% - 80px);
        border: none;
        border-left: 1.5px solid grey;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        h1 {
            font-size: 14px;
            color: grey;
        }
    }
}

:export {
    chat: $chat;
    chatHeader: $chatHeader;
}

