$messages: messages;
$messagesList: messages__list;
$messagesDay: messages__day;
$messagesInput: messages__input;
$messagesUser: messages__user;
$messagesInputText: messages__input-text;
$messagesBox: messages__box;
$messagesBoxOwn: messages__box--own;
$messagesBoxReceived: messages__box--received;

.#{$messages} {
    flex: 1;
    min-height: 100px;
    overflow: auto;
    background: white;

    &__list {
        list-style-type: none;
        padding: 0;
    }

    &__input {
        display: flex;
        background-color: white;
        border-radius: 0 0 10px 10px;
    }

    &__input-text {
        height: 40px;
        padding: 8px 12px;
        font-size: 14px;
    }

    &__user {
        padding-left: 10px;
        font-size: 14px;
        color: black;
    }

    &__day {
        width: 90%;
        margin: 20px auto 30px auto;
        text-align: center; 
        font-size: 14px;
        color: grey;
        border-bottom: 1px solid #EEEEEE;
        line-height: 0;

      > span { 
        padding: 0 11px; 
        background: white; 
      }
    } 
     

    &__box {
        position: relative;
        padding: 10px 8px;
        border-radius: 4px;
        color: black;
        margin-bottom: 20px;
        word-break: break-word;

        &:first-child {
            margin-top: 20px;
        }

        &--own {
            background-color: #BEE9F9;
            margin-left: 25px;
            margin-right: 10px;
            &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            right: 0;
            top: 50%;
            border: 5px solid transparent;
            border-left-color: #BEE9F9;
            border-right: 0;
            margin-top: -5px;
            margin-right: -5px;
        }

            span {
            position: absolute;
            width: 200px;
            display: flex;
            justify-content: flex-end;
            top: -14px;
            right: 0;
            color: grey;
            font-size: 11px;
            }
      }

        &--received {
            margin-left: 10px;
            margin-right: 25px;
            background-color: #D8EEF6;

            span {
                position: absolute;
                width: 200px;
                display: flex;
                justify-content: flex-start;
                top: -14px;
                left: 0;
                color: grey;
                font-size: 11px;
            }

            &:after {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                left: 0;
                top: 50%;
                border: 5px solid transparent;
                border-right-color: #D8EEF6;
                border-left: 0;
                margin-top: -5px;
                margin-left: -5px;
            }
        }      
    }
}

:export {
    messages: $messages;
    messagesList: $messagesList;
    messagesInput: $messagesInput;
    messagesDay: $messagesDay;
    messagesUser: $messagesUser;
    messagesInputText: $messagesInputText;
    messagesBox: $messagesBox;
    messagesBoxOwn: $messagesBoxOwn;
    messagesBoxReceived: $messagesBoxReceived;
}

