$block: home;
$blockNewChat: home__new-chat;
$blockActiveChats: home__active-chats;
$blockActiveChatsHeader: home__active-chats-header;
$blockRoomItem: home__room-item;
$blockInput: home__input;
$blockButton: home__button;
$blockButtonBig: home__button--big;
$blockButtonSmall: home__button--small;
$blockButtonDisabled: home__button--disabled;

.#{$block} {

    width: 500px;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 25px auto;
    border: 1.5px solid grey;

    &__new-chat{
        width: 65%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #F6F6F6;
    }

    &__active-chats {
        display: flex;
        flex-direction: column;
        width: 35%;
        background-color: #dddddd;

        > span {
            font-size: 14px;
            color: grey;
            text-align: center;
        }
    }

    &__active-chats-header {
        display: flex;
        align-items: center,;
        margin: 0 auto;

        h1 {
            font-size: 16px;
            color: grey; 
            text-align: center;
        }
    }

    &__room-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        > span {
            font-size: 14px;
            color: grey;
            text-align: center;
            padding-right: 5px;
        }
    }

    &__input {
        padding: 20px 10px;
        width: 80%;
        border: 1px solid grey;
        border-radius: 5px;
        font-size: 16px;
        margin-top: 15px;
    }

    &__button {
        border-radius: 5px;
        text-align: center;
        background: blue;
        color: white;
        font-weight: 600;
        text-decoration: none;

        &--small {
            padding: 5px 7px;
            font-size: 12px;
            margin-left: 5px;
        }

        &--big {
            width: 80%;
            padding: 20px 10px;
            font-size: 16px;
            margin-top: 15px; 
        }

    
        &--disabled {
            background-color: #cccccc;
            color: #666666;
        }
    }
}

:export {
    block: $block;
    blockNewChat: $blockNewChat;
    blockActiveChats: $blockActiveChats;
    blockActiveChatsHeader: $blockActiveChatsHeader;
    blockRoomItem: $blockRoomItem;
    blockInput: $blockInput;
    blockButton: $blockButton;
    blockButtonBig: $blockButtonBig;
    blockButtonSmall: $blockButtonSmall;
    blockButtonDisabled: $blockButtonDisabled;
}
